package components

import "github.com/braydend/my-family/models"

templ Member(member models.FamilyMember) {
	<ul>
		<li>{ member.Name }</li>
		if len(member.Children) > 0 {
			<ul>
				for _, child := range member.Children {
					<li>
						@Member(child)
					</li>
				}
			</ul>
		}
	</ul>
}
