package components

templ Page(heading string, child templ.Component) {
	<html>
		<head>
			<title>{ heading }</title>
			<link rel="stylesheet" href="/static/styles.css"/>
		</head>
		<body>
			@Header(heading)
			<main class="main">
				@child
			</main>
		</body>
	</html>
}
